<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Gamers United, a place where all type of gamers find news from the gaming world.">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    <title>Gamers United</title>

</head>
<body>
    <header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Gamers United Logo" id="logo">
    <nav>
       <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>

            <li class="dropdown">
                <a href="{{ url_for('pc') }}">PC</a>
                <ul class="dropdown-menu">
                    <li><a href="#">PC News</a></li>
                    <li><a href="#">Best deals</a></li>
                    <li><a href="#">PC Game Reviews</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="{{ url_for('konzole') }}">Consoles</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Consoles news</a></li>      <!-- npr opce vijesti o PS5, XboX, Switch -->
                    <li><a href="#">Top Games</a></li>
                    <li><a href="#">Upcoming Releases</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="{{ url_for('boardgames') }}">Board Games</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Board Games news</a></li>   <!-- kickstarter mozda nove-->
                    <li><a href="#">Reviews</a></li>    
                    <li><a href="#">Top Picks</a></li>          <!-- preporuke za party, strategije itd... -->
                </ul>
            </li>

            <li class="dropdown">
                <a href="{{ url_for('mobile') }}">Mobile Games</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Mobile games news</a></li>      <!-- vjesti o iOS/Android igrama-->
                    <li><a href="#">Best Free Games</a></li>
                    <li><a href="#">Upcoming Releases</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    </header>

<div class="news-container">
<h1 id="welcome">Welcome to Gamers United</h1>

{% for article in news %}
    <div class="news-item">
        <h3>{{ article.title }}</h3>
        <p>{{ article.description }}</p>
        <a href="{{ article.url }}" target="_blank">Read more</a>
    </div>
{% endfor %}



<h2 id="latest-news">Latest Global News</h2>
<img src="{{ url_for('static', filename='images/loading.jpg') }}" alt="Loading..." id="loading" style="width: 700px;"> <!-- placeholder za api za neki news, style maknut-->

</div>


</body>
</html>